footer.footer
	h2.logo
	p
		|丛九九的朋友们：
		a(href="http://www.dlongxiang.com/", target="_blank") antdlx
		i /
		a(href="http://blog.callmecoder.com/", target="_blank") 诗诗
		i /
		a(href="http://fkysly.1kapp.com/", target="_blank") 马天翼
		i /
		a(href="http://razord.coding.io/", target="_blank") Dreamacro
		i /
		a(href="http://joyneop.xyz/", target="_blank") Joy Neop
		i /
		a(href="http://blog.callmewhy.com/", target="_blank") 汪海洋
		i /
	p
		a(href="https://github.com/greenzorro/farbox-colachan", target="_blank") theme
		|&nbsp;by Cola Chan - powered by 
		a(href="https://www.farbox.com/", target="_blank") farbox
	a.gotop.icon-arrow_up(href="#")

